/* Reset default browser styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
}

.container {
    width: 1400px;
    margin: auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.content {
    display: flex;
    background-color: #f1f1f1;
    justify-content: space-around;
}

.content div {
    margin: 10px;
    padding: 20px;
}

.content li {
    list-style: none;
}

.c-section i{
    padding-right: 10px;
    color: #333;
}

.c-aside img{
    width: 100%;
}

.blog{
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
}

.blog img{
    width: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    .container {
        width: auto;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .content {
        padding: 0 10px;
    }
}
